{{ ansible_managed | comment }}

[Unit]
Description=Caddy development server

[Service]
ExecStart=/usr/local/bin/caddy -conf /etc/caddy/config
WorkingDirectory=/
PrivateTmp=true
Restart=always

[Install]
WantedBy=default.target
