{{ ansible_managed | comment }}
:{{ caddy_port }}

gzip
log stdout
errors stdout
cors
timeouts 1m

header / {
  -Server
  X-XSS-Protection "1; mode=block"
  X-Content-Type-Options "nosniff"
  X-Frame-Options "DENY"
}

import config.d/*
