[global]
compile = true
disable-pip-version-check = true
download-cache = {{ ansible_user_dir }}/.cache/pip
extra-index-url = https://pypi.python.org/simple/
index_url = http://localhost:{{ devpi.nginx_port }}/root/pypi/+simple/
require-virtualenv = false
respect-virtualenv = true
timeout = 60
trusted-host = localhost
