{{ ansible_managed | comment }}

[Unit]
Description=Run backup of safe dir periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
RandomizedDelaySec=10
Persistent=true

[Install]
WantedBy=timers.target
