---
# vim: set ft=yaml:
{{ ansible_managed | comment }}


storage: {{ verdaccio.dir }}
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  "**":
     access: all
     publish: $authenticated
     proxy: npmjs
logs:
  - type: stdout
    format: pretty
    level: http
